{% extends 'baselogged.html' %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block title %} <title>FAQ</title>{% endblock title %}
</head>
{% block content %}
<body>
    <section style="height: 6em;"></section>
    <div class="text-center pt-1 pb-4">
        <h2 style="opacity: 50%;">#Mycart FAQ</h2>
      </div>
    <section>
        <div>
            <div class="row ">
                <div class="container col-lg-10 col-sm-12 p-5 pt-2">
                    <div class="text-white p-3" style="background-color:  rgb(1, 99, 112); ">
                    <h6>What payment methods do you accept?</h6>
                     <h6 style="font-size: small;">We accept all major credit cards, including Visa, Mastercard, American Express, and Discover.</h6>
                     <br>
                     <h6>How long does shipping take? </h6>
                     <h6 style="font-size: small;">Shipping times vary depending on your location and the shipping method you choose at checkout. Standard shipping typically takes 3-5 business days.</h6>
                     <br>
                     <h6>What is your return policy?</h6>
                     
                     <h6 style="font-size: small;"> We offer a 30-day return policy for all products purchased on our website. If you are not satisfied with your purchase, please contact us for a return authorization.</h6>
                     <br>
                     <h6>Do you offer international shipping?</h6>
                     <h6 style="font-size: small;">Yes, we offer international shipping to select countries. Please contact us for more information.</h6>
                     <br>
                     <h6>How can I track my order?</h6>
                     <h6 style="font-size: small;">You can track your order by logging into your account on our website or by clicking on the tracking link in the shipping confirmation email that we sent you.</h6>
                    
                    </div>
                </div>
            </div>

        </div>
    </section>



</body>
{% endblock content %}
</html>













