{% extends 'baselogged.html' %}
{% load static %}

<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  {% block title %}<title>Mycart Home</title>
  {% endblock %}

  {% block content %}
</head>

<body>
  <section style="height: 6em;">

  </section>


  <section>
    

    <div class="row">
      <div class="container col-md-6 col-lg-11">
        <div class=" pb-5">
          <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
            <div class="carousel-indicators">
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active"
                aria-current="true" aria-label="Slide 1"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1"
                aria-label="Slide 2"></button>
              <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2"
                aria-label="Slide 3"></button>

            </div>
            <div class="carousel-inner ">
              <div class="carousel-item active">
                <img src="{% static '\uploads\pexels-cats-coming-1204463.jpg' %}" class="d-block  w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static '\uploads\pexels-mnz-1598505.jpg' %}" class="d-block w-100" alt="...">
              </div>
              <div class="carousel-item">
                <img src="{% static '\uploads\pexels-castorly-stock-3829441.jpg' %}" class="d-block w-100" alt="...">
              </div>

            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="prev">
              <span class="carousel-control-prev-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators"
              data-bs-slide="next">
              <span class="carousel-control-next-icon" aria-hidden="true"></span>
              <span class="visually-hidden">Next</span>
            </button>
          </div>
        </div>
      </div>
    </div>
  </section>



  <div class="text-center pt-3 pb-4">
    <h2 style="opacity: 50%;">#Select from wide Mycart categories</h2>
  </div>








  <section class="p-3">
    <div class="row">
      {% for t in category %}
      <div class="col-lg-2 col-md-3 col-sm-4 p-1">
        <div class="card" style="border-color: rgb(3, 126, 143);">
          <a href="{% url 'products' t.slug %}" class="btn  w-100 text-dark"
            style="height: 2em; width: 80%; font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; font-weight: bolder;">{{t.category_name}}
            <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
              class="bi bi-chevron-double-right" viewBox="0 0 16 16">
              <path fill-rule="evenodd"
                d="M3.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L9.293 8 3.646 2.354a.5.5 0 0 1 0-.708z" />
              <path fill-rule="evenodd"
                d="M7.646 1.646a.5.5 0 0 1 .708 0l6 6a.5.5 0 0 1 0 .708l-6 6a.5.5 0 0 1-.708-.708L13.293 8 7.646 2.354a.5.5 0 0 1 0-.708z" />
            </svg></a>
        </div>
      </div>
      {% endfor %}
    </div>
  </section>

</body>

</html>









{% endblock %}